{% extends "base.html" %}
<title>{% block title %}Wence Cajucom{% endblock %}</title>
{% load static %}
{% block content %}
<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">

    <div class="container d-flex align-items-center flex-column">
<!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="{% static '/wc.jpg' %}" alt="">
<!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">hi! I'm wence.</h1>
      <!-- Masthead Subheading -->
    </div>
  </header>

<!-- About Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col aboutwc mr-auto">
          <p class="lead">After years of teaching as a medical professional, I am humbled and grateful to 
            be a student once again. I’m driven to learn as much as I can to become the best software 
            engineer I can be. I believe that the years of teaching has given me useful insight on how to be 
            an effective student. In this journey, I hope to eventually teach others about how they can build 
            a career as a software engineer when it’s not available in a traditional path. I seek a space that 
            is willing to take a risk on me, that although I didn’t come from a traditional software 
            engineering background, I am given a chance to show my passion, tenacity, and the desire to learn.
            </p>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
