{% extends "base.html" %}
<title>{% block title %}Repos{% endblock %}</title>
{% load static %}
{% block content %}
<!-- Masthead -->
        <header class="masthead bg-primary text-white text-center">

        <div class="container d-flex align-items-center flex-column">
<!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="{% static '/wc3.jpg' %}" alt="">
<!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">My GitHub Repositories</h1>
            <!-- Masthead Subheading -->
        </div>
        </header>

<!-- GitHub Section -->
        <section class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col aboutwc mr-auto">
                        <p class="lead jjabout">
                            <a href="https://github.com/" target="_blank">GitHub.com</a> is
                            a website used to store web-based applications
                            and projects. Projects are stored in <strong>Repos</strong>, 
                            or <em>repositories</em>. Here are links to all
                            my repos at GitHub.<br><br>

                            <ul class="lead jjabout">
                            {% for repo in github_repos %}
                                <li>
                                    <a href="https://github.com/CajucomW/{{ repo.name }}" target="_blank">
                                    {{ repo.name }}
                                </a>
                                </li>
                            {% endfor %}
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}
