{% extends "base.html" %}
<title>{% block title %}Tech{% endblock %}</title>
{% load static %}
{% block content %}
<!-- Masthead -->
 <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

<!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="{% static '/wc2.jpg' %}" alt="">

<!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Wence Cajucom</h1>      

<!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0"> Full Stack Developer</p>
      <p class="masthead-subheading font-weight-light mb-0">(...in training)</p>

    </div>
  </header>



<!-- Tech Blog Section -->
  <div class="container">
    <div class="row">
      <div class="col aboutwc mr-auto">
        <h1 class="jjabout2">Blogs</h1>
        <hr>
<!--04102020-->       
        <div>
          <h3 class="jjabout2">Random Thoughts 04102020</h3>
          <p class="lead jjabout2">
            Fibonacci Sequence?!</p>
            <ul class="lead jjabout2">
              <li>
                So, I've been going over old assignments from 
                <a 
                  target="_blank" 
                  href="http://www.kickstartcoding.com">
                  KickStart Coding
                </a>
                , particularly the fibonacci activity. I usually try NOT to look at solutions
                when I do projects. However, I got stuck for so long that I broke down and looked
                into the solutions. Of course, I was STILL confused after looking at the solutions!
              </li>
            </ul>
        </div>
        <hr>
<!--03262020-->       
        <div>
          <h3 class="jjabout2">Random Thoughts 03262020</h3>
          <p class="lead jjabout2">
            Shelter-In-Place</p>
            <ul class="lead jjabout2">
              <li>
                With this 
                <a href=
                  "https://www.sfchronicle.com/local-politics/article/Bay-Area-must-shelter-in-place-Only-15135014.php"
                  target= "_blank">
                  "Shelter-In-Place"
                  </a>
                in full-effect, I've found time to do some code. I wish the circumstances
                were less grim, however.
              </li>
              <li>I just finished transcribing a 
                <a href=
                  "https://github.com/CajucomW/Hangman"
                  target= "_blank">
                  "hangman"
                  </a> 
                game I learned from class. I wasn't able to do it during class time, 
                but I'm glad I found the time to sit and understand it.
              </li>
              <li>
                Maybe I can finally redo my site into a single-page app?!
              </li>
            </ul>
        </div>
        <hr>
<!--01092020-->       
        <div>
          <h3 class="jjabout2">Random Thoughts 01092020</h3>
          <p class="lead jjabout2">
            HAPPY NEW YEAR!</p>
            <ul class="lead jjabout2">
              <li>
                Big changes this year! Last November, I asked the most wonderful
                woman to marry me and she said "YES!" I'm really excited (more, like,
                Freakin' out)!
              </li>
              <li>
                I've made a lot of progress with my 
                <a href=
                "https://github.com/CajucomW/graphwithreact"
                 target=
                 "_blank">
                 graphwithreact 
                 </a>
                 app. I've finally worked out how to delete values in the graph, while
                 also adding a few little things. The next thing is that when I make a 
                 search, I want to scour the API for valid stock market symbols. Link 
                 to the Heroku app available 
                 <a href=
                 "https://whispering-thicket-32277.herokuapp.com/"
                 target=
                 "_blank">
                 here 
                 </a>.
              </li>
            </ul>
          </p>
        </div>
        <hr>
<!--12102019-->       
        <div>
          <h3 class="jjabout2">Random Thoughts 12102019</h3>
          <p class="lead jjabout2">
            I'm gonna ramble here for a bit:</p>
            <ul class="lead jjabout2">
              <li>
                After finishing my bootcamp I thought I was just gonna throw
                my non-tech-experience-having resumes to the tech world and 
                magically get a job. I just had that delusion, even after reading
                on how difficult the job-hunting process was gonna be prior to 
                the bootcamp stint
              </li>
              <li>
                My schedule working as a full-time as a PTA in a 
                <a href=
                "https://www.investopedia.com/terms/s/skilled-nursing-facility.asp"
                 target=
                 "_blank">
                 SNF
                 </a>
                 makes it has made it really difficult for me to coordinate 
                 even phone interviews with recruiters, who seemingly randomly
                 call throughout the day. Throughout the day, I'm hands-on 
                 working with patients and I can't just drop them for a phone call
              </li>
              <li>
                After some time working and worrying about coordinating calls while
                trying to "polish" my resume, I was quickly forgetting all the things
                I learned in class. That's no-go for me.
              </li>
              <li>
                I decided to put the resume and job-hunting in the back burner and 
                focus more on reviewing and relearning things from the bootcamp. My 
                small review projects are available under the 
                <a href="
                http://www.wencecajucom.com/repos"
                target="_blank">
                Repos
                </a>
                link in the navigation above, which contains simple applications that
                demonstrate how State and Components work in React
              </li>
              <li>
                Eventually, I would like to return to some of the projects I wasn't
                able to complete during bootcamp, particularly the couple of HW problems
                involving React and API fetching
              </li>
            </ul>
          </p>
        </div>
        <hr>
<!--11122019-->       
        <div>
          <h3 class="jjabout2">It's been a while! 11122019</h3>
          <p class="lead jjabout2">
            I haven't posted anything up in a while since finishing the bootcamp. I'm gonna ramble here for a bit:</p>
            <ul class="lead jjabout2">
              <li>The REACT framework was a challenging study. I'm working now on taking this site and "reactifying" it to get practice
                and repetition in. I'm trying to build User Authentication stuff so I can write these blogs within the app itself but I'm
                having trouble putting Django and REACT together. I'll get it soon enough.
              </li>
              <li>For our final group project, I helped build a
                <a href="https://gripe-pile.herokuapp.com/" target="_blank">
                Gripes
                </a>
                app where people could "gripe" about all the annoyances in life. Check it out!
              </li>
              <li>After the bootcamp, I spent two to three weeks just throwing my resume to anyone who'd take a look. Now, I've turned
                my focus on projects and even past homeworks because I'm losing grip on the stuff I barely understood a few months ago.
              </li>
              <li>Coming from healthcare, looking for work in Tech is a job in and of itself. The interview process is like preparing for
                college or post grad acceptance.
              </li>
              <li>Networking to me has been awkwardly hovering into a conversation and finding a way to get in... LOL!
              </li>
            </ul>
          </p>
        </div>
        <hr>
<!--07132019-->       
        <div>
          <h3 class="jjabout2">Closing up back-end portion of Kickstart Coding program 07132019</h3>
          <p class="lead jjabout2">
            I'm gonna ramble here for a bit:</p>
            <ul class="lead jjabout2">
              <li>A lot has changed since my last post! We've been <em>really</em> busy in the last few weeks with homework and 
                just keeping up with class.
              </li>
              <li>At this point, we've covered some CSS and HTML, python, scripting and templating, jinja, and django.
              </li>
              <li>The course is very fast-paced! Often I find myself working on last week's stuff while desperately trying to 
                balance the current week's material.
              </li>
              <li>The cohort is a roomful of people who are on the same boat as me, and I learned quickly to find strength 
                (and support) in numbers.
              </li>
              <li>Now, we are starting our final (group) project for the back-end portion of the class, where we are tasked to 
                put together everything we've learned so far. I'm both excited and nervous!
              </li>
            </ul>
          </p>
        </div>
        <hr>
<!--06122019-->        
        <div>
          <h3 class="jjabout2">Random snippets about first Kickstart homework class and project 06122019</h3>
          <p class="lead jjabout2">
            I'm gonna ramble here for a bit:</p>
            <ul class="lead jjabout2">
              <li>It looks like my email link that isn't working is browser-specific. I'm currently using 'Chromium' browser for Ubuntu
                where my link isn't working. However, when opening the html file on 'Firefox' the link worked just fine. Upon further 
                research, it 
                <a href="https://stackoverflow.com/questions/17517600/mailto-links-do-nothing-in-chrome-but-work-in-firefox" target="_blank">
                  confirmed
                </a> 
                to me that it is browser-specific. Whew...
              </li>
              <li>We learned more about git, and using GitHub today in class. I'm starting to understand how powerful these tools are
                especially when used by a big group of folks. I imagine we're gonna be using a lot of these tools for the rest of the 
                curriculum. My head is currently in a tizzy.
              </li>
              <li>We used Bootstrap templates and, for me, it was my first experience with it. I picked the first template that caught my eye
                in the first page. Had I known that there were much more, I would've likely taken my time in selecting and picked a 'fancier'
                one. I'm really glad that I <em>didn't</em>! I think this 'simple' layout was the best for me to focus on code and not get as
                consumed by asthetics... for now, at least.
              </li>
            </ul>
          </p>
        </div>
        <hr>
<!--06092019-->        
        <div>
          <h3 class="jjabout2">Confessions of a programming newb 06092019</h3>
          <p class="lead jjabout2">
            I'm going to ramble on here for a bit:
            <ul class="lead jjabout2">
              <li>It dawned on me that I have typed more in my first week of code bootcamp than I ever have in my entire life.
              Still, I type away. I think I like this...</li>
              <li>I can't wait to have the skills and proficiency to make this site look much, much better</li>
              <li>Balancing work, class, homework, jiujitsu, and quality time with my loved ones will be difficult, if this
              first week is any indication. I'm blessed to have such a supportive and encouraging circle.</li>
              <li>I'm definitely going to gain some weight in the next four months!</li>
              <li>I sit in a spot in class where there aren't any outlets within reach. Each class, I'm playing the 'I wonder if
              my laptop is gonna last the entire four hours?' So far, so good.</li>
              <li>Tech and code used to be this unreachable, magical thing people did. I never had the resources to explore it when
              I was young...</li>
              <li>I'm definitely goint to cry at some point within the next four months!</li>
              <li>I'm quickly realizing that being organized buy using nesting and comments properly while coding saves me a lot 
                of time
              </li>
            </ul>
          </p>
          <br>
        </div>
        <hr>
<!-- End Blog Section -->
      </div>
    </div>
  </div>

  
<!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
<!-- Portfolio Section Heading -->
      <p class="lead projectwc">Here are some of the projects I have been working on while teaching 
        myself how to code:</p>
      <br><br>      

<!-- Portfolio Grid Items -->
      <div class="row">

<!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/surveyform.png' %}" alt="">
          </div>
        </div>

<!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/landingpage.png' %}" alt="">
          </div>
        </div>

<!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/flexboxintro.png' %}" alt="">
          </div>
        </div>

<!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/tribute.png' %}" alt="">
          </div>
        </div>

<!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/javaintro.png' %}" alt="">
          </div>
        </div>

<!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/portfolio.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Portfolio Modals -->
<!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
<!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Survey Form</h2>
                    <!-- Icon Divider -->
                    
<!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{% static '/surveyform.png' %}" alt="">
                    <!-- Portfolio Modal - Text -->
                    <p class="mb-5">In this project, after spending plenty of time trying too
                      hard using Flexbox or Grid, I learned that using Margins and Paddings were 
                      enough to align and rearrange each input fields, even during Media Queries.
                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
<!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Landing Page</h2>
                  <!-- Icon Divider -->
                  
<!-- Portfolio Modal - Image -->
                  <img class="img-fluid rounded mb-5" src="{% static '/landingpage.png' %}" alt="">
<!-- Portfolio Modal - Text -->
                  <p class="mb-5">Creating a Landing Page was intimidating. I learned here that plenty of 
                    considerations need to be made in presenting your product with minimal and streamlined
                    information as possible.
                  </p>
                  <button class="btn btn-primary" href="#" data-dismiss="modal">
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
<!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Technical Documentation Page</h2>
                  <!-- Icon Divider -->
                  
<!-- Portfolio Modal - Image -->
                  <img class="img-fluid rounded mb-5" src="{% static '/flexboxintro.png' %}" alt="">
<!-- Portfolio Modal - Text -->
                  <p class="mb-5">Since learning to format a Technical Documentation page, I have used it
                    extensively for note-taking to also continue practice writing code. Here, I have written
                    one for the CSS Flexbox lessons I was studying.
                  </p>
                  <button class="btn btn-primary" href="#" data-dismiss="modal">
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
<!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tribute Page</h2>
                  <!-- Icon Divider -->
                  
<!-- Portfolio Modal - Image -->
                  <img class="img-fluid rounded mb-5" src="{% static '/tribute.png' %}" alt="">
<!-- Portfolio Modal - Text -->
                  <p class="mb-5">While creating this Tribute Page I realized that, while studying, content
                    should come secondary. I spent too much time researching the topic and not enough time 
                    getting repetition in writing code.
                  </p>
                  <button class="btn btn-primary" href="#" data-dismiss="modal">
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
<!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Technical Documentation Page</h2>
                  <!-- Icon Divider -->
                  
<!-- Portfolio Modal - Image -->
                  <img class="img-fluid rounded mb-5" src="{% static '/javaintro.png' %}" alt="">
<!-- Portfolio Modal - Text -->
                  <p class="mb-5">Since learning to format a Technical Documentation page, I have used it
                      extensively for note-taking to also continue practice writing code. Here, I have written
                      one for the introductory lessons for JavaScript I am currently studying in my "free time".
                      (still in progress).</p>
                  <button class="btn btn-primary" href="#" data-dismiss="modal">
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
<!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Personal Portfolio</h2>
                  <!-- Icon Divider -->
                  
<!-- Portfolio Modal - Image -->
                  <img class="img-fluid rounded mb-5" src="{% static '/portfolio.png' %}" alt="">
                  <!-- Portfolio Modal - Text -->
                  <p class="mb-5">In my first attempt at a Portfolio Page the thumbnail images of my projects
                    wouldn't always work. On my <em>second day</em> at <strong>Kickstart Coding</strong>, I
                    learned about Relative File Paths that fixes that problem!
                  </p>
                  <button class="btn btn-primary" href="#" data-dismiss="modal">
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
